:host {
  display: block;
  text-align: center;
}

#page-title {
  justify-content: center;
  align-items: center;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}

span {
  margin-top: 15px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.page-content {
  margin-left: auto;
  margin-right: auto;
}

.mat-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro {
  max-width: 600px;
}

.entry-points {
  justify-content: center;
  align-items: center;
}

.d-flex {
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
/* este sirve por si ya existe una
solucion previamente cargada en el
servidor */
.cloud-invisible {
  visibility: hidden;
}

/*

.entry-points button {
  margin: 16px 8px 0;
  flex-shrink: 0;
}

svg {
  max-height: 500px;
}

section:last-child {
  margin-bottom: 0;
}

.intro {
  margin-top: 8px;
}

.intro > :last-child {
  margin-bottom: 0;
}

.guide {
  margin-top: 28px;
  flex-wrap: wrap;
}

.info-panel {
  margin: 12px;
}

.info-panel__content > * {
  text-align: center;
}


.info-panel__content > :last-child {
  margin-bottom: 0 !important;
}



.entry-points > .col {
  display: flex;
}

.entry-points button {
  margin: 16px 8px 0;
  flex-shrink: 0;
}



.cloud-visible {
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  .intro,
  .guide {
    margin-bottom: 0;
  }

  .intro .mat-title,
  .intro p {
    margin-bottom: 4px;
  }

  .metric svg {
    margin-right: 10px;
  }

  .entry-points button {
    margin-top: 8px;
  }
}

*/
