<app-logo>
</app-logo>

<section id="page-title" class="page-content">
  <img src="../../../../assets/images/sintec/Logo.jpg"
       width="700px"
       height="125px"/>
</section>

<section class="intro page-content">
  <span class="mat-title"> Bienvenid@ a la plataforma de Optimización de Rutas</span>
  <p>
    Este modelo permite resolver una gran variedad de problemas que demanden
    de la cuidadosa optimizacion de las rutas vehiculares empleadas en cualquier
    operacion a gran escala; de manera ágil y rápida.
  </p>
  <p>
    Para conocer más sobre la gran variedad de soluciones que aporta este modelo,
    por favor, no dudar en contactar al <a (click)="onHelp()">centro de
    ayuda Sintec</a>.
  </p>
  <p>
    Con gusto, cualquiera de nuestr@s analistas podran orientar
    mejor el enfoque de la <b>solucion Sintec a la medida</b>.
</section>

<section class="entry-points page-content">
  <div class="d-flex">
    <button type="button" mat-flat-button color="primary" (click)="loadFromXLSX()">
      Cargar desde un archivo XLSX
    </button>
  </div>
  <!--
  <div class="d-flex">
    <button type="button" mat-flat-button color="primary" (click)="upload()">
      Cargar desde un archivo JSON
    </button>
  </div>
  <div class="d-flex">
    <button type="button" mat-flat-button color="primary" (click)="loadFromCsv()">
      Cargar escenario o solucion desde un archivo CSV
    </button>
  </div>
  <div class="d-flex">
    <button type="button" mat-flat-button color="primary" (click)="newScenario()">
      Contruir escenario o solucion
    </button>
  </div>
  <div class="d-flex cloud-invisible"
       [ngClass]="{ 'cloud-visible': (hasStorageApi$ | async) && (allowUserStorage$ | async) }">
    <button type="button" mat-flat-button color="primary" (click)="loadFromStorage()">
      Abrir escenario o solucion
    </button>
  </div>
  -->
</section>

<section class="page-content">
    <img src="../../../../assets/images/sintec/mapa_ruta.png"
         width="500px"
         height="250px">
</section>
